<!DOCTYPE html>
<html>
<head>
    <title>Billings - Momentum Fitness Center</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    <header>
        <h1>Momentum Fitness Center</h1>
        <nav>
            <ul>
              <li><a href="booking.html">Bookings</a></li>
              <li><a href="equipment-maintenance.html">Equipment Maintenance</a></li>
              <li><a href="billings.html">Billings</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <h2>Generate Invoice</h2>
        <form id="invoiceForm">

          <label for="profileID">Profile ID:</label>
          <input type="text" id="profileID" name="profileID" required><br><br>


          <label for="date">Billing Date:</label>
          <input type="date" id="date" name="date" required><br><br>

          <label for="itemName">Item Name:</label>
          <input type="text" id="itemName" name="itemName" required><br><br>

          <label for="itemPrice">Item Price:</label>
          <input type="number" id="itemPrice" name="itemPrice" min="0" step="0.01" required><br><br>

          <button id="issueInvoiceButton">Issue Invoice</button><br><br>
        </form>

        <h2>Current Invoices</h2>
        <table id="Invoice Table">
          <thead>
              <tr>
                  <th>Payment Id</th>
                  <th>Type</th>
                  <th>Date Issued</th>
                  <th>Date Billed</th>
                  <th>Amount</th>
                  <th>Processing Admin</th>
                  <th>Payee</th>        
              </tr>
          </thead>  
          <tbody id="cartBody"></tbody>
        </table><br>


    </main>
    <footer>
      <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>
    <script src="../../functions/admin_functions.js"></script>
</body>
</html>