<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="../../styles/styles.css">
  </head>
  <body>
    <header>
      <h1>Contact Us - Momentum Fitness Center</h1>
      <nav>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./register.html">Health Trainers Bookings</a></li>
          <li><a href="./login.html">Register/Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Address</h2>
      <p>Momentum Fitness Center<br>
        123 Main Street<br>
        Anytown, USA</p>
      <h2>Phone</h2>
      <p>555-555-5555</p>
      <h2>Email</h2>
      <p>info@momentumfitnesscenter.com</p>
    </main>
    <footer>
      <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>

    <script src="/functions/member_functions.js"></script>
  </body>
</html>