<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Momentum Fitness Center</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    <header>
        <h1>Member Dashboard</h1>
        <p id="profileName">Name will be displayed here</p>
        <p id="memberId">Member ID will be displayed here</p>

        <nav>
            <ul>
                <li><a href="/profile.html">Profile</a></li>
                <li><a href="/dashboard.html" class="active">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="routineSection">
            <h2>Exercise Routines</h2> 
        </section><br>
        <section id="achievementsSection">
            <h2>Fitness Achievements</h2> 
        </section><br>
        <section id="statsSection">
            <h2>Health Statistics</h2> 
        </section><br>

        <section id="invoiceBookings">
            <h2>Booking Invoices (To be paid by member by clicking PAY NOW button!)</h2>
            <table id="paymentTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date Issued</th>
                        <th>Date Billed</th>
                        <th>Amount</th>     
                    </tr>
                </thead>  
                <tbody id="paymentBody"></tbody>
            </table><br> 
            <button id="payButton">Pay Invoice</button><br><br>
        </section><br>


    </main>
    <footer>
        <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>
    <script src="../../functions/member_functions.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const memberName = localStorage.getItem('memberName');
            const memberId = localStorage.getItem('memberId');

            document.getElementById('profileName').textContent = "Name: " + memberName;
            document.getElementById('memberId').textContent = "Member ID: " + memberId;
        });
    </script>


</body>
</html>
