<!DOCTYPE html>
<html>
  <head>
    <title>Momentum Fitness Center</title>
    <link rel="stylesheet" href="../../styles/styles.css">
  </head>
  <body>
    <header>
      <h1>Momentum Fitness Center</h1>
      <p>Sweat, Smile, Repeat. Your Journey Starts Here!</p>
      <nav>
        <ul>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="./register.html">Health Trainers Bookings</a></li>
          <li><a href="./login.html">Register/Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Our Services</h2>
        <p>At Momentum Fitness Center, we offer a wide range of services to help you reach your fitness goals:</p>
        <ul>
          <li>Personal Training</li>
          <li>Group Fitness Classes</li>
          <li>Nutrition Coaching</li>
          <li>Weight Loss Programs</li>
          <li>Sports Conditioning</li>
        </ul>
      </section>
      <section>
        <h2>Join Our Community</h2>
        <p>Join our community of fitness enthusiasts and become a part of the Momentum Fitness Center family!</p>
        <button>JOIN NOW</button>
      </section>
      <section>
        <h2>Connect with Us</h2>
        <ul>
          <li>
            <a href="https://www.twitter.com/mft" target="_blank">
              <img src="../../images/twitterX.png" alt="Twitter" width="65" height="50">
            </a>
            <li>
            <a href="https://www.facebook.com/mft" target="_blank">
                <img src="../../images/facebook.png" alt="Facebook" width="50" height="50">
            </a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>© Momentum Fitness Center. All Rights Reserved.</p>
    </footer>


    <script src="../../functions/member_functions.js"></script>
  </body>
</html>